<%-include("header")-%>
<h1 class="about_header">FAQ PAGE</h1>
<details>
  <summary class="details_header">
    How to get the most out of the planner
  </summary>
  <p class="details_text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
    sequi recusandae eligendi quisquam laboriosam tempora explicabo rerum nulla
    fugiat. Similique veritatis quod laboriosam in? Distinctio eius a quis
    officia aperiam.
  </p>
</details>
<details>
  <summary class="details_header">
    How to get the most out of the planner
  </summary>
  <p class="details_text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
    sequi recusandae eligendi quisquam laboriosam tempora explicabo rerum nulla
    fugiat. Similique veritatis quod laboriosam in? Distinctio eius a quis
    officia aperiam.
  </p>
</details>
<details>
  <summary class="details_header">
    How to get the most out of the planner
  </summary>
  <p class="details_text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
    sequi recusandae eligendi quisquam laboriosam tempora explicabo rerum nulla
    fugiat. Similique veritatis quod laboriosam in? Distinctio eius a quis
    officia aperiam.
  </p>
</details>

<%-include("footer")-%>
